# .htaccess

RewriteEngine On

# Если запрос не является файлом
RewriteCond %{REQUEST_FILENAME} !-f
# Если запрос не является директорией
RewriteCond %{REQUEST_FILENAME} !-d
# Перенаправляем все запросы на index.php
RewriteRule ^(.*)$ index.php [QSA,L]

<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

<FilesMatch "\.(sql|log|ini)$">
    Order allow,deny
    Deny from all
</FilesMatch>